.top{
  min-height: calc(100vh - 82px);
  background-image: url('/assets/main-bgp.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid rgb(13, 116, 0);
}

.title{
  padding-top: 15%;
  font-size: 76px;
  margin-bottom: 10px;
}

.subtitle{
  font-size: 36px;
  margin-bottom: 5%;
}

#goToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(13, 116, 0, 0.5);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

.buy__text{
  padding-top: 6px;
  font-size: 13px;
}

.buy-btn {
  cursor: pointer;
  border: none;
  background: linear-gradient(140deg, rgb(240, 239, 239), rgba(228, 228, 228, 0.93) 100%);
  display: flex;
  padding: 1px;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  border: 1px solid rgb(13, 116, 0);
  border-radius: 1em;
}

.buy-btn__text{
  color: black;
  font-size: 14px;
  font-weight: 700;
  padding: 20px 110px;
  position: relative;
  overflow: hidden;
}

.buy-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: 0% 0%;
  transition: transform 0.3s ease;
}

.buy-btn:hover::before {
  transform: scaleX(1);
}

@keyframes slideInLeft {
  from {
    transform: translateX(-20%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(20%);
  }
  to {
    transform: translateX(0);
  }
}

.animated {
  animation: slideInLeft 0.5s ease-out;
}

.animated-right {
  animation: slideInRight 0.5s ease-out;
}

.tabs__content-img {
  height: 450px;
  margin-left: 100px;
}

.pros {
  padding: 150px 0;
  background: linear-gradient(to bottom right, rgb(241, 240, 245), rgb(241, 240, 245) 50%, rgb(161, 219, 172)100%);
}

.pros__titles {
  display: flex;
}

.pros__title {
  flex-basis: 400px;
  padding-right: 20px;
}

.section-title {
  text-transform: uppercase;
  font-weight: 400;
}

.pros__text {
  min-width: 330px;
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 2px;
}

.tabs {
  display: grid;
  grid-template-columns: 300px auto;
  padding-top: 30px;
  font-size: 18px;
}

.tabs__btn{
  display: flex;
  flex-direction: column;
  align-items: start;
  color: rgb(114, 114, 114);
}

.tabs__btn-item{
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 20px;

}

.tabs__btn-item--active{
  color: #070707;
}

.tabs__content{
  position: relative;
}

.tabs__content-item{
  display: grid;
  grid-template-columns: auto 420px;
  opacity: 0;
  position: absolute;
}

.tabs__content-item--active{
  opacity: 1;
}

.tabs__content-box {
  margin-left: 60px;
}

.tabs__content-subtitle{
  padding-top: 50px;
  line-height: 2;
}

.tabs__content-box h3{
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 5px;
}

.tabs__btn-item {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}

.tabs__btn-item.animated {
  opacity: 1;
  transform: translateY(0);
}

.tabs__content-item {
  opacity: 0; 
  transition: opacity 0.5s ease; 
}

.tabs__content-item.tabs__content-item--active {
  opacity: 1; 
}

.offer {
  padding: 150px 0;
  background: linear-gradient(to top right, rgb(241, 240, 245), rgb(241, 240, 245) 50%, rgb(161, 219, 172)100%);
}

.offer__title{
  margin-bottom: 50px;
}

.offer__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
}

.offer__descr {
  padding-right: 10px;
}

.offer__descr-title {
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 10px;
  border-bottom: 3px solid rgba(13, 116, 0, 0.5);
}

.offer__descr-text{
  margin-bottom: 24px;
}

.offer__item {
  border: 3px solid rgba(13, 116, 0, 0.5);
  padding: 10px 20px 18px;
  display: flex;
  flex-direction: column;
}

.offer__item-img {
  margin-bottom: 10px;
}

.offer__item-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.offer__item-text {
  margin-bottom: 30px;
}

.offer__item-link {
  background: rgb(13, 116, 0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: auto;
  font-weight: 700;
  text-align: start;
}

.offer__item-link:hover {
  background: rgb(0, 0, 0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.3s;
}

.offer__item-title,
.offer__descr-title,
.offer__descr-text {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.offer__item-title.animated,
.offer__descr-title.animated,
.offer__descr-text.animated {
  opacity: 1;
  transform: translateY(0);
}

.buy {
  padding: 100px 0;
  text-align: center;
  position: relative;
  overflow-x: hidden;
  background: linear-gradient(to bottom left, rgb(241, 240, 245), rgb(241, 240, 245) 50%, rgb(161, 219, 172)100%);
  z-index: -1;
}

.buy__img {
  margin-bottom: 30px;
  width: 30%;
}

.buy .buy-btn {
  margin: 0 auto;
}

.buy-btn__text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(140deg, rgba(184, 252, 169, 0.342), rgba(178, 252, 156, 0.329) 50%, rgba(0, 145, 0, 0.1)100%);
  transform: scaleX(0);
  transform-origin: 50% 0%;
  transition: transform 0.3s ease;
}

.buy-btn__text:hover::before {
  transform: scaleX(1);
}

.buy__bg {
  margin-top: 60px;
  background: green;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 400px;
  line-height: 400px;
  opacity: 0.2;
  position: absolute;
  z-index: -1;
  animation: line-text 12s linear 0.3s infinite;
}

@keyframes line-text {
  from {
    transform: translate(50%);
    transform-origin: left center;
  }
  to {
    transform: translate(-100%);
    transform-origin: right center;
  }
}

.popular {
  padding: 150px 0;
  background: linear-gradient(to top left, rgb(241, 240, 245), rgb(241, 240, 245) 50%, rgb(161, 219, 172)100%);
}

.popluar__title {
  margin-bottom: 50px;
}

.section-title {
  margin-bottom: 10px;
}

.popular__choice {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 0 30px;
}

.popular__choice-img {
  margin-bottom: 10px;
}

.popular__choice-title {
  font-size: 30px;
  line-height: 50px;
  text-transform: uppercase;
  margin-left: 60px;
  border-bottom: 3px solid rgba(13, 116, 0, 0.5);
}

.popular__choice-item {
  font-size: 20px;
}

.popular__choice-item--one{
  grid-row: 1/-1;
  width: 80%;
}

.popular__choice-item--two {
  width: 110%;
}

.popular__choice-item--three {
  width: 110%;
}

.popular__choice-item--four {
  width: 110%;
  margin-left: 60px;
}

.accessories {
  background: linear-gradient(to bottom right, rgb(241, 240, 245), rgb(241, 240, 245) 50%, rgb(161, 219, 172)100%);
}

.accessories__title {
  margin-bottom: 30px;
}

.accessories__text {
  margin-bottom: 30px;
  background: green;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 36px;
  text-transform: uppercase;
}

.accessories__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.accessories__item {
  padding: 20px;
  border: 2px solid rgba(13, 116, 0, 1);
  margin-right: -2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.accessories__item-img {
  margin-bottom: 10px;
  width: 100%;
}

.accessories__item-title {
  font-size: 24px;
  color: #070707;
  min-height: 67px;
}

.accessories__item-text {
  margin-bottom: 15px;
  margin-top: auto;
}

.accessories__item-price {
  font-weight: 700;
  line-height: 18px;
  color: #070707;
  margin-bottom: 20px;
  margin-top: auto;
}

.accessories__item-btn {
  border: 2px solid rgba(13, 116, 0, 1);
  padding: 6px;
  font-weight: 700;
  width: 100%;
}

.contacts {
  padding-top: 150px;
  background: linear-gradient(to top right, rgb(241, 240, 245), rgb(241, 240, 245) 50%, rgb(161, 219, 172)100%);
  padding-bottom: 100px;
}

.contacts__title {
  font-size: 24px;
  line-height: 33px;
  color: #070707;
  margin-bottom: 10px;
}

.contacts__inner {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.contacts__form {
  flex-basis: 600px;
}

.contacts__text {
  font-size: 13px;
  color: grey;
}

.contacts__email {
  font-size: 14px;
}

.form {
  margin-bottom: 10px;
  position: relative;
}

.form__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  padding: 22px 0;
  font-size: 22px;
}

.form__btn {
  width: 150px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  text-transform: uppercase;
  font-weight: 700;
  color: green;
  position: absolute;
  right: 0;
  bottom: 5px;
  z-index: 1;
}

.gelya {
  font-size: 9px;
  color: grey;
}

