html{
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a{
  color: inherit;
  text-decoration: none;
}

li{
  list-style: none;
}

img {
  max-width: 100%;
}

button {
  color: inherit;
  font-size: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
  padding: 0;
}

.container {
  max-width: 1620px;
  padding: 0 10px;
  margin: 0 auto;
}

body{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: black;
}

.header{
  border-bottom: 2px solid rgb(13, 116, 0);
  background-color: rgb(241, 241, 241);
}

.nav{
  font-size: 18px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  height: 80px;
}

.menu {
  display: flex;
  gap: 0 60px;
  justify-self: center;
  margin-top: 20px;
}

.menu__link {
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease;
  white-space: nowrap;
}

.menu__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(10deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.1) 100%);
  transform: scaleX(0);
  transform-origin: 0% 0%;
  transition: transform 0.5s ease;
  pointer-events: none;
}

.menu__link:hover::before {
  transform: scaleX(1);
}

.logo {
  justify-self: start;
  width: 100px;
}

.cart {
  position: relative;
  justify-self: end;
}

.account {
  justify-self: end;
}

.cart-image {
  height: 30px;
  width: 30px;
  margin-right: 25px;
}

.cart-count__on {
  font-size: 11px;
  font-weight: 700;
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  color: white;
  position: relative;
  display: flex;
  line-height: 0;
  align-items: center;
  justify-content: center;
  bottom: 28px;
  right: -18px;
}

.footer {
  border-top: 2px solid rgb(13, 116, 0);
  border-bottom: 2px solid rgb(13, 116, 0);
  background-color: rgb(241, 241, 241);
  margin-bottom: 10px;
  padding: 25px 0;
}

.social {
  margin-top: 20px;
  display: flex;
  justify-self: end;
}

.social__link--1,
.social__link--2,
.social__link--3 {
  width: 30%;
}